<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link href="css/createevent.css" rel="stylesheet">

    <!-- JS -->
    <script src="js/events.js"></script>

</head>

<body>
    <%- include header %>
    <div style="height: 100vh;  width: 100%; background-color:#39ac37">
        <div style="background-color: white; width: 1000px; height: 1000px; margin: 0 auto;">
            <div class="rediv">
                <h1 style="color: #39ac37;">Vote Event Creation</h1>
                <h2 class="">Create a new vote event to our online voting system</h2>
            </div>
            <div>
                <fieldset class="refieldset">
                    <div class="reformdiv">
                        <form class="reform" action="/createevent" method="post">
                            <span class="" style="color:red; font-size: 17px"><%= metamaskaddr_err %></span>
                            <br>
                            <input class="" type="text" name="question" placeholder="question" value="">
                            <span class="" style="color:red; font-size: 17px"><%= question_err %></span>
                            <div class="field">
                                <input type="text" name="answer1" placeholder="answer">
                                <span class="spanbtn plus" onclick="addField(this)">+</span>
                                <span class="spanbtn minus" style="display:none;" onclick="removeField(this)">-</span>
                                <br>
                            </div>
                            <span class="spananserr" style="color:red; font-size: 17px"><%= answer_err %></span>
                            <br>
                            <input type="hidden" name="countans" id="countans" value="">
                            <input type="hidden" name="ethacc" id="ethacc" value="">
                            <input class="submitbtn" type="submit" value="Create" onclick="disablebtn()" style="border: 0; padding: 0; width: 100%;">
                            <br>
                        </form>
                    </div>
                </fieldset>
                
            </div>
        </div>
    </div>
    <script src="../js/metamask.js"></script>
</body>

</html>