<!doctype html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="../css/events.css" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy Voting</title>
    
    <!-- JS -->
    <script src="../js/events.js"></script>

</head>

<body>
    <div class="navbar">
        <a class="webname">Happy Voting</a>
        <a href="/index">Home</a>
        <a href="/createevent">Create Vote</a>
        <a href="/allevent">All Vote</a>
        <a href="/mycreateevent">My Own Vote</a>
        <a href="/myjoinedevent">My Joined Vote</a>
        <a href="/myvotingrecord">View My Voting Record</a>
        <div class="dropdown" style="float: right;">
            <% if (username !== "" && username !== undefined) {%>
                <button class="dropbtn" onclick="droplist()">
                    <i class="bi-person-square"></i>
                    <%- username %>
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content" id="myDropdown">
                    <a href="/profile/myprofile">My Profile</a>
                    <a href="/logout">Log Out</a>
                </div>
            <% } else { %>
                <a href="/login">Log In</a>
                <a href="/register">Sign Up</a>
            <% } %>
        </div>
    </div>
</body>

</html>