<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Happy Voting</title>
        <!--CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
        <!-- CSS only -->
        <!-- JS -->
        <script src="../js/events.js"></script>

        <style>
            .divcre {
                padding: 3.5rem 0;
                background: #39ac37;
                text-align: center;
                color: white;
            }
            h1{
                margin-bottom: 30px;
                max-width: 50rem;
                margin-left: auto;
                margin-right: auto;
                font: bold 50px "SlidoSansFont","SlidoSansFont-fallback",verdana,arial,sans-serif;
            }
            p{
                font-size: 30px; 
                font-weight: bold;
            }
            .gomyjoinedeventbtn{
                background-color: white;
                padding: 16px 24px; 
                border: none; 
                border-radius: 5px;
                cursor: pointer;
                margin-bottom: 15px;
                text-decoration: none;
            }
            .gomyjoinedeventbtn:hover{
                background-color: black;
                color: white;
            }
            .svgpic {
                cursor: pointer;
                height: 30px;
                width: 30px;
                margin: 0px;
            }
        </style>
        
    </head>
    <body>
        <%- include header %>
        <div class="divcre">
            <h1>Voting Successfull</h1>
            <p style="font-size:35px; margin-bottom: 0px;">Here is your Transaction Id</p>
            <p style="font-size:17px; margin-top: 0px;">Warning: Never disclose your Transaction Id <br>
            Anyone with this Transaction Id can view your voting record</p>
            <div style="align-items: center;">
                <p id="txid" style="font-size: 25px; display:inline-block; margin-right:30px;"><%= transactionid  %></p>
                <button onclick="copyToClipboard('#txid')" style="height: 40px; width: 40px; padding:0px; border:none; background-color: white;
                border-radius: 5px; display:inline-block;"><img class="svgpic" src="../picture/copy.svg"
                    alt="votespic"></button>
            </div>
            <br>
            <a class="gomyjoinedeventbtn" href="/myjoinedevent">Go Back</a>
            <a class="gomyjoinedeventbtn" href="/myvotingrecord" style="margin-left: 100px;">View Record</a>
        </div>
         
    </body>
</html>
