* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.ul {
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.li {
  float: left;
  font-size: 20px;
}

.li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.li a:hover:not(.active) {
  background-color: #111;
}

.webname {
  font-size: 20px;
  font-weight: bold;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.webname:hover {
  background-color: none;
}

.active {
  background-color: #39ac37;
}

.active:hover {
  background-color: #111;
}

.sticky {
  width: 100%;
  height: 51px;
  top: 0;
  left: 0;
  margin: 0;
  background: #333;
}

.bg {
  width: 100%;
  height: 600px;
}

.welcome {
  width: 100%;
  height: 600px;
  margin: 0;
}

.about {
  width: fit-content;
  margin: 0 auto;
  color: #39ac37;
  position: relative;
  height: max-content;
}

.about h1 {
  font-size: 40px;
}

.about pre {
  font-size: 20px;
}

.about p {
  font-size: 40px;
  text-align: center;
}

.getstart {
  width: 250px;
  margin: 0 auto;
  background-color: #39ac37;
  border-radius: 30px;
  border-color: #39ac37;
  font-size: large;
  padding: 15px 25px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  float: left;
  font-size: 18px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0px;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.userul {
  padding: 0.5rem 0;
  margin: 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .15);
}

.show {
  display: block;
}

.webname {
  font-weight: bold;
  display: block;
  cursor: default;
}

.divall {
  padding: 3.5rem 0;
  background-color: #f5f5f5;
  text-align: center;
  color: #39ac37;
}

.divcre {
  padding: 3.5rem 0;
  background-color: #39ac37;
  text-align: center;
  color: white;
}

h1 {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font: bold 50px "SlidoSansFont", "SlidoSansFont-fallback", verdana, arial, sans-serif;
}

p {
  font-size: 30px;
  font-weight: bold;
}

.createbtn {
  width: 250px;
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
  border-color: white;
  padding: 15px 25px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}