.rediv {
  text-align: center;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  width: max-content;
}

.rediv h1 {
  font-size: 50px;
  margin-top: 0px;
  padding-top: 33.5px;

}

.rediv h2 {
  font-size: 35px;
  font-family: SlidoSans, helvetica, arial, sans-serif;
}

.rediv2 {
  float: left;
  width: 50%;
  height: 1000px;
  position: fixed;
  right: 0;
  margin-left: 10px;
}

.reform {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  margin-top: 0%;
}

a {
  color: #2984fc;
  text-decoration: none;
  cursor: pointer;
}

.refieldset {

  width: 600px;
  box-shadow: 0 0 15px #AAAAAA;
  border-radius: 30px;
}

.reformdiv {
  width: 550px;
}

.reformdiv input {
  font-size: 20px;
  margin-top: 15px;
  width: 350px;
  height: 50px;
  border: 1px solid black;
  padding: 0px 0px 0px 5px;
  cursor: text;
  vertical-align: baseline;
  border-radius: 4px;
}

.submitbtn {
  background-color: #39ac37;
  padding: 16px 24px;
  border: none;
  color: white;
  cursor: pointer;
  margin-bottom: 15px;
}

.reformdiv label {
  font-size: 20px;
  display: inline-block;
  padding: 3px 6px;
  text-align: left;
  width: 200px;
}

.svgpic {
  vertical-align: middle;
  height: 25px;
  width: 25px;
  margin: 0px 0px 4px;
}

.resultbar {
  background-color: #39ac37;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-size: 1rem 1rem;
  transition: width .6s ease;
}